*{
    font-family: Arial, Helvetica, sans-serif;
    color: #474E68;
}
.con-aset{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.aset{
    min-width: 500px;
    min-height: 230px;
    background-color: #AFC8AD;
    padding-top: 10px;
    /* padding-left: 20px; */
}
.data{
    padding-left: 20px;
}
a{
    text-decoration: none;
}
.edit{
    background-color: #88AB8E;
    width: 450px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 3px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px gray;
    margin-bottom: 10px;
}
.hapus{
    background-color: #88AB8E;
    width: 450px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 3px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px gray;
}